@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@theme {
  /* color setup start */
  --color-red: #ff3369;
  --color-yellow: #ffe433;
  --color-blue: #3388ff;
  --color-green: #5cff33;

  --color-text-muted: #787575;
  /* color setup start */

  /* font setup start*/
  --font-inter: Inter, sans-serif;
  /* font setup end */
}

@layer base {
  body {
    font-family: var(--font-inter);
    /* color: white */
  }
}

@layer utilities {
    .container {
        @apply w-full max-w-[450px]
    }
  
}
